body {
    background: #000000;
    margin: 0;
    padding: 20px 0;
    image-rendering: pixelated;
}

img {
    image-rendering: pixelated;
}

a:hover {
    color: #FFFF00;
}

td {
    font-family: Verdana, Arial, sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: #00FF99;
}